<html lang="en-us">

<head>
	<title> login to your account </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,intial-scale=1.0">
	<meta name="keywords"
		content="social media,the best social media platform,chat with your friend ,easy social media,pipago">
	<meta name="description" content="light weight secured social media for student!!!">
	<meta name="author" content="black eagle team">
</head>
<!-- body goes here -->

<body>
	<!--header-->
	<header>
		<!-- -navigation links-->
		<nav>



		</nav>

	</header>
	<!-- content-->
	<main>


	</main>
	<!--footer content-->
	<footer>


	</footer>
</body>

</html>