body {
    background-color: seashell;
    overflow: scroll;

}

.header {
    color: white;
    background-color: blue;
    display: table;
    margin-left: 600px;
    margin-top: 10px;



}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #88c7c9;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}

.loginbox {
    /* background-color: cyan;*/
    
    margin-top: 15px;
    margin-left: 30px;
   

}


#field1 {
    background-color: rgba(0, 0, 0, 40%);
    color: white;
    margin-left: 2px;
    font-weight: bolder;


}

legend {
    background-color: rgba(0, 0, 0, 80%);
    color: white;

    margin: 100px;
}

.inputf {
    margin: 10px;
    width: 300px;

}

.buf {
    margin: 10px;
    width: 100px;

}

.footer {
    height: fit-content;
    font-weight: bolder;
    font-size: large;

}

/* end of the line here */